._wrapper {
  padding: 0 20px;
  min-height: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  font-size: 36px;
  line-height: 80px;
  font-weight: bold;
}

h3 {
  margin: 0 0 5px 0;
}