.ligth {
  background-color: white;
  color: black;
  .cell {
    border: 2px solid black;
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      border-top: none;
    }
    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
      border-left: none;
    }
    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
      border-right: none;
    }
    &:nth-child(7), &:nth-child(8), &:nth-child(9) {
      border-bottom: none;
    }
    &:hover:not(.x):not(.o) {
      &::before, &::after {
        background-color: black
      }
    }
  }
  .button {
    color: black;
    background-color: transparent;
    border: solid 3px black;
    &:hover {
      cursor: pointer;
      background-color: #1E90FF;
    }
  }
  .o {
    &::after {
      background-color: white;
    }
  }
  .winning-message, .setting-list {
    background-color: rgba(255, 255, 255, .95);
  }
  .footer__item {
    color: #000;
  }
  .footer__github {
    width: 40px;
    background-image: url('../svg/github.svg');
    background-repeat: no-repeat;
    filter: invert(0%);
  }
  .footer__rsschool {
    width: 100px;
    background-image: url('../svg/rss.svg');
    background-repeat: no-repeat;
    filter: invert(100%);
  }
  .active {
    background-color: $blue;
  }
  .score-list {
    border: solid 2px black;
    td {
      border: solid 2px black;
    }
    th {
      border: solid 2px black;
    }
  }
}